<html>

<body>
    <table width="100%">
        <tbody>
            <tr>
                <td style="padding: 2%;text-align: left;">
                    Changes in allocation of {{assetType}} for process <b>{{processName}}</b> under project
                    <b>{{projectName}}</b>
                </td>
            </tr>
        </tbody>
    </table>
    <table width="100%" align="center">
        <tbody>
            <tr>
                {{#if assignedAssets}}
                <td style="vertical-align: top; width:50%">
                    <table style="margin-left: 30%" cellpadding=5 cellspacing=5>
                        <tbody>
                            <tr>
                                <th style="background-color: #efefef;"> Assigned Assets </th>
                            </tr>
                            {{#each assignedAssets}}
                            <tr>
                                <td style="text-align: center; word-break: break-word;"> {{this}} </td>
                            </tr>
                            {{/each}}
                        </tbody>
                    </table>
                </td>
                {{/if}}

                {{#if unassignedAssets}}
                <td style="vertical-align: top;">
                    <table style="margin-left: 10%" cellpadding=5 cellspacing=5>
                        <tbody>
                            <tr>
                                <th style="background-color: #efefef;"> Unassigned Assets </th>
                            </tr>
                            {{#each unassignedAssets}}
                            <tr>
                                <td style="text-align: center; word-break: break-word;"> {{this}} </td>
                            </tr>
                            {{/each}}
                        </tbody>
                    </table>
                </td>
                {{/if}}
            </tr>
        </tbody>
    </table>
</body>

</html>