<html>

<body>
	<table>
		<tbody>
			<tr>
				<td style="padding:5%">
					Hi {{name}},<br><br>
					{{#if password}}
					Congratulations! Your password for the Avo Assure username <i>{{username}}</i> has been updated on {{datetime}}.<br><br>
					{{else if role}}
					Your account role has been changed to <b>{{userRole}}</b> by your administrator.
					{{/if}}
				</td>
			</tr>
		</tbody>
	</table>
</body>

</html>