<style>
    body{font-family: 'LatoWeb', sans-serif; height: 98%; margin: 0;}
    .mainContainer{
        float: left;
        padding: 5px;
        width: calc(100% - 12px);
    }
    .h2Header{
        font-size: 12px;
        width: 100%;
        float: left;
        /*text-align: center;*/
        border: 1px solid #cfcfcf;
        background-color: #dfd0fa;
    }
    .h2Header h3{
      //border: 2px solid;
      position: relative;
      text-align: center;
      left: -110px;
    }
    .leftSummary{width: 50%; float: left; padding: 25px 0 25px 25px; font-size: 14px;}
    .leftSummary label{
        text-align: left;
        float: left;
        width: 29%;
        padding-right: 5px;
        padding-bottom: 5px;
    }
    .leftSummary span{
        float: left;
        width: 64%;
        padding-bottom: 5px;
        font-weight: bold;
    }
    .progress {
        margin-bottom: 20px;
        overflow: hidden;
        box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
    }
    .progress-bar {
        float: left;
        height: 100%;
        font-size: 12px;
        line-height: 20px;
        color: #fff;
        text-align: center;
        box-shadow: inset 0 -1px 0 rgba(0,0,0,.15);
        transition: width .6s ease;
    }
    .reportStatusBlk {
        float: left;
        width: 100%;
    }
    .progresslabel {
        float: left;
        display: inline-block;
        width: 20%;
        padding-left: 14px;
    }
    .customprogress{
        float: left;
        width: 45% !important;
        height: 12px;
        border-radius: 8px;
        margin-top: 3px;
        background-color: #e0e0e0;
    }
    .customprogress .progress-bar {
        border-radius: 20px;
    }
    .progress-bar-success {
        /*background: linear-gradient(to right, #39b54a, #009444) !important;*/
        background-color: #39b54a;
    }
    .progress-bar-danger {
        /*background: linear-gradient(to right, #d41e2d, #b31f2d) !important;*/
        background-color: #d41e2d;
    }
    .progresspercentage{margin-left: 20px;}
    .rightSummaryFunc{
            width: 46%;
            float: left;
            margin-top: 80px;
            font-size: 14px;
    }
    .progress-bar-warning {
        /*background: linear-gradient(to right, #f7b91e, #faa536) !important;*/
        background-color: #f7b91e;
    }
    .midContainer{
        border-collapse: collapse;
        border: 1px solid #cfcfcf;
        width: 100%;
        float: left;
        margin: 1% 0;
        font-size: 14px;
    }
    .midContainer td{padding-top: 5px; border: 1px solid #cfcfcf;float: left;}
    .midContainer td label{
        text-align: right;
        float: left;
        width: 35%;
        font-family: 'LatoWeb',sans-serif;
        padding-right: 5px;
        padding-bottom: 5px;
    }
    .reportsDetails{border: 1px solid #cfcfcf;     background-color: #dfd0fa; font-size: 15px;}
    .reportsDetails th:nth-child(1),.rDid{width: 4%;  word-break: break-word; }
    .reportsDetails th:nth-child(2),.rDstep{width: 5%;  word-break: break-word;}
    .reportsDetails th:nth-child(3),.rDstepDes{width: 12%; word-break: break-word; text-align:left}
    .reportsDetails th:nth-child(4),.rDstatus{width: 5%; word-break: break-word; text-align:left}
    .reportsDetails th:nth-child(5),.rDellaps{width: 5.5%; word-break: break-word; text-align:left}
    .reportsDetails th:nth-child(6),.rDcomments{width: 9%; word-break: break-word; text-align:left}
    .reportsDetails th:nth-child(7),.rDremarks{width: 9%; word-break: break-word; text-align:left}
    .reportsDetails th:nth-child(8),.rDActualRes{width: 9%; word-break: break-word; text-align:left}
    .reportsDetails th:nth-child(9),.rDExpectedRes{width: 7%; word-break: break-word; text-align:left}
    .maintabCont{float: left; width: 100%; border: 1px solid #dcdcdc; height: 49%;}
    .tabCont{display: table-cell; border-bottom: 1px solid #ececec; border-right: 1px solid #ececec;word-wrap:break-word}
    .reportsDetail{line-height: 2; text-align: center; height: calc(100% - 35px); overflow: auto;font-size: 14px;}
    .reportsDetail tr { page-break-inside: avoid; }
    .rDstepDes{text-align: left; word-break: break-word;}
    .reportsDetail tr.reportdetailsrow:nth-child(even){background: #f9f9f9;}
    .reportdetailsrow td{padding-top: 9px;}
    @media screen and (max-height: 675px) {
        .reportsDetail{
            height: 174px;
        }
    }
    .headerRepDetails{
      left: 10px;
      float:left;
      display: block;
      position: relative;
      top: 7px;
    }
    .screenshot-container{text-align:center;padding:20px}
    .screenshot-container img{border:1px solid #ccc;min-height:100px}
    .screenshot-container a{font-size:20px;color:inherit;text-decoration:none}
    .reportsDetails th,td
    {
        text-align: left !important;
        padding: 2px;
        width: 10%;
    }
    .pdfReport{
        float:left;
        width: 100%;
        table-layout: table;
    }
    .latobold{
        font-weight: bold;
    }
</style>


<div class="mainContainer">
    {{#each overallstatus}}
    <div class="h2Header" >
      <div class="headerRepDetails" >
          <label>Report Generated Date : </label><span class='latobold'>{{date}}</span>
          <br>
          <label>Report Generated Time : </label><span class='latobold'>{{time}}</span>
      </div>
      <h3>SLK Nineteen68 Execution Report</h3>
    </div>


    <div class="leftSummary">
        <h3>Result Summary</h3>
        <label>Scenario</label><span>: {{scenarioName}}</span><br/>
        <label>Cycle</label><span>: {{cycleName}}</span><br/>
        <label>Release</label><span>: {{releaseName}}</span><br/>
        <label>Project</label><span>: {{projectName}}</span><br/>
        <label>Domain</label><span>: {{domainName}}</span><br/>
        <label>Browser Type</label><span>: {{browserType}}</span><br/>
        <label>Browser Version</label><span>: {{browserVersion}}</span>
    </div>
    <div id="rightSummaryFunc" class="rightSummaryFunc">
		<div class="reportStatus">
			<div class="reportStatusBlk">
            	<span class="progresslabel">Pass</span>
            	<div class="progress customprogress">
            		<span class="progress-bar progress-bar-success" style="width: {{pass}}%" role="progressbar"></span>
            	</div>
            	<span class="progresspercentage">{{pass}} %</span>
			</div>
        	<div class="reportStatusBlk">
        		<span class="progresslabel">Fail</span>
            	<div class="progress customprogress">
            		<span class="progress-bar progress-bar-danger" style="width: {{fail}}%" role="progressbar"></span>
            	</div>
            	<span class="progresspercentage">{{fail}} %</span>
			</div>
        	<div class="reportStatusBlk">
        		<span class="progresslabel">Terminated</span>
            	<div class="progress customprogress">
            		<span class="progress-bar progress-bar-warning" style="width: {{terminate}}%" role="progressbar"></span>
           		</div>
            	<span class="progresspercentage">{{terminate}} %</span>
        	</div>
    	</div>
    </div>
    <div style="">
        <table cellpadding="3" cellspacing="0" class="midContainer" id="staustable">
            <tbody>
                <tr>
                    <td>
                        <label>Start Date and Time :</label><span id="startTime"><b>{{StartTime}}</b></span>
                    </td>
                    <td rowspan="3">
                        <label>Status :</label><span id="overAllStat" style="color: {{getColor overAllStatus}}"><span></span><b>{{overAllStatus}}</b></span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>End Date and Time :</label><span id="endTime"><b>{{EndTime}}</b></span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>Elapsed Time :</label><span id="elapsedTime"><b>{{EllapsedTime}}</b></span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    {{/each}}
    <div class="maintabCont">
        <table class='pdfReport' style="width: 100%;" >
            <thead class="reportsDetails">
               <tr><th>Sl No.</th>
                <th>Test Step No.</th>
                <th>Test Step Description</th>
                <th>Status</th>
                <th>Elapsed Time</th>
                 <th>Comments</th>
                <th>Remarks</th> <th>Expected Result</th><th>Actual Result</th></tr>
            </thead>
            <tbody class="reportsDetail" >
                {{#each rows}}
                <tr id="report-slno{{slno}}" style="width: 100%;" class="reportdetailsrow">
                    <td class="rDid tabCont">{{slno}}</td>
                    <td class="rDstep tabCont">{{Step}}</td>
                    <td class="rDstepDes tabCont" style="padding-left: 10px;">{{StepDescription}}</td>
                    <td class="rDstatus tabCont" style="padding-left: 10px; color: {{getColor status}}"><a style="color:inherit;text-decoration:none" href="{{validateImageID screenshot_path slno}}">{{status}}</a></td>
                    <td class="rDellaps tabCont">{{EllapsedTime}}</td>
                    <td class="rDcomments tabCont" style="padding-left: 10px;">{{Comments}}</td>
                    <td class="rDremarks tabCont" style="padding-left: 10px;">{{Remark}}</td>
                    
                     {{#ifEquals testcase_details.testcaseDetails undefined}}
                      <td class="rDExpectedRes tabCont"></td>
                     {{/ifEquals}}
                    {{#ifEquals testcase_details.testcaseDetails ""}}
                        <td class="rDExpectedRes tabCont" style="padding-left: 10px;">{{StepDescription}}</td>
                    {{/ifEquals}}
                    {{#ifnotEquals testcase_details.testcaseDetails ""}}
                       {{#ifnotEquals testcase_details undefined}}
                        <td class="rDExpectedRes tabCont" style="padding-left: 10px;">{{testcase_details.testcaseDetails}}</td>
                       {{/ifnotEquals}}
                    {{/ifnotEquals}} 


                     {{#ifEquals status undefined}}
                      <td class="rDActualRes tabCont"></td>
                     {{/ifEquals}}
                      {{#ifEquals status ""}}
                      <td class="rDActualRes tabCont"></td>
                     {{/ifEquals}}

                    {{#ifEquals status "Pass"}}
                        {{#ifEquals testcase_details.actualResult_pass ""}}
                          <td class="rDActualRes tabCont" style="padding-left: 10px;">{{status}}</td>
                        {{/ifEquals}}
                        {{#ifnotEquals testcase_details.actualResult_pass ""}}
                           <td class="rDActualRes tabCont" style="padding-left: 10px;">{{testcase_details.actualResult_pass}}</td>
                        {{/ifnotEquals}}
                    {{/ifEquals}}

                    {{#ifEquals status "Fail"}}
                        {{#ifEquals testcase_details.actualResult_fail ""}}
                            <td class="rDActualRes tabCont" style="padding-left: 10px;">{{status}}</td>
                        {{/ifEquals}}
                        {{#ifnotEquals testcase_details.actualResult_fail ""}}
                           <td class="rDActualRes tabCont" style="padding-left: 10px;">{{testcase_details.actualResult_fail}}</td>
                        {{/ifnotEquals}}
                    {{/ifEquals}}

                    {{!-- {{#ifEquals status "Terminate"}}
                        {{#ifEquals testcase_details.actualResult_fail ""}}
                            <td class="rDActualRes tabCont" style="padding-left: 10px;">{{status}}</td>
                        {{/ifEquals}}
                        {{#ifnotEquals testcase_details.actualResult_fail ""}}
                           <td class="rDActualRes tabCont" style="padding-left: 10px;">{{testcase_details.actualResult_fail}}</td>
                        {{/ifnotEquals}}
                    {{/ifEquals}} --}}

                    
                    

                     {{!-- <td class="rDExpectedRes tabCont" style="padding-left: 10px;">{{testcase_details.expectedResult_fail}}</td>
                     <td class="rDActualRes tabCont" style="padding-left: 10px;">{{testcase_details.actualResult_fail}}</td> --}}
                    {{!-- <td class="rDcomments tabCont" style="padding-left: 10px;">{{Comments}}</td> --}}
                </tr>
                {{/each}}
            </tbody>
        </table>
        <!--<div class="reportsDetail">
            {{#each rows}}
            <div style="width: 100%; display: table;" class="reportdetailsrow">
                <div class="rDid tabCont">{{slno}}</div>
                <div class="rDstep tabCont">{{Step}}</div>
                <div class="rDstepDes tabCont" style="padding-left: 10px;">{{StepDescription}}</div>
                <div class="rDstatus tabCont" style="padding-left: 10px; color: {{getColor status}}">{{status}}</div>
                <div class="rDellaps tabCont">{{EllapsedTime}}</div>
                <div class="rDcomments tabCont" style="padding-left: 10px;">{{Comments}}</div>
            </div>
            {{/each}}
        </div>-->
        {{#each rows}}
        <div class="screenshot-container" style="display:{{validateImagePath screenshot_path}}">
            <img id="img-{{slno}}" src="{{getDataURI screenshot_dataURI}}" style="width:100%;display:block;" alt="Image for Sl No. {{slno}}">
            <a href="#report-slno{{slno}}">Above Image belongs to Sl No. {{slno}}</a>
        </div>
        {{/each}}
    </div>
</div>
