<!DOCTYPE html>
<html style="height: 100%;">
<head>
   <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <title>Avo Assure - Execution Report</title>
   <link rel="icon" href="../favicon.ico">
   <link rel="stylesheet" type="text/css" href="../static/fonts/latofonts.css" />
   <link rel="stylesheet" type="text/css" href="../static/reports/dataTables.css">
   <script type="text/javascript" src="../static/reports/jquery.min.js"></script>
   <script type="text/javascript" src="../static/reports/jquery-ui.min.js"></script>
   <script type="text/javascript" src="../static/reports/jquery.blockUI.js"></script>
   <script type="text/javascript" src="../static/reports/datatables.min.js"></script>

   <style>
      .no-disp {
         display: none !important;
      }

      .unexpand,
      .expand {
         cursor: pointer;
      }

      body {
         font-family: LatoWeb;
         height: 98%;
         overflow: hidden;
      }

      .mainContainer {
         border: 1px solid #B5AAAA;
         margin: 4px;
         float: left;
         padding: 14px;
         width: 97%;
         height: calc(100% - 30px);
      }

      .hearderCon {
         position: relative;
         width: 100%;
         float: left;
         background: #F3F3F3;
         height: 50px;
         margin-bottom: 10px;
         border-radius: 5px;
         font-size: 16px;
         padding-top: 7px;
         color: #5A5A5A;
         ;
      }

      .headerRepDetails {
         width: 50%;
         padding: 3px 40px;
         font-family: Latowebmedium;
      }

      .headerRepDetails label {
         text-align: right;
         width: 29%;
         font-size: 13px;
      }

      .headerRepDetails span {
         width: 64%;
         padding-bottom: 5px;
         font-size: 13px;
         font-family: Latowebmedium;
      }

      .h2Header {
         position: absolute;
         top: 50%;
         left: 50%;
         transform: translate(-50%, -50%);
      }

      .leftSummary {
         width: 40%;
         float: left;
         padding: 10px 0;
         font-size: 14px;
         position: relative;
         left: 4%;
         padding-bottom: 0px;
      }

      .leftSummary label {
         text-align: left;
         float: left;
         width: 29%;
         padding-right: 5px;
         padding-bottom: 5px;
         color: #1A1A1A !important;
      }

      .leftSummary span {
         float: left;
         width: 53%;
         padding-bottom: 5px;
         font-weight: bold;
         word-break: break-all;
         font-family: latowebbold !important;
         display: flex;
      }

      .summaryCon {
         position: relative;
         float: left;
         width: 100%;
         border: 1px solid #cfcfcf;
         background: linear-gradient(to bottom, #FFFFFF 0%, #E6E6E6 100%);
         height: 38px;
         border-radius: 5px;
      }

      .summaryCon span {
         position: absolute;
         top: 10px;
         left: 40px;
      }

      .midSection {
         float: left;
         width: 100%;
      }

      .midContainer {
         border-collapse: collapse;
         border: 1px solid #cfcfcf;
         width: 100%;
         font: 14px cabin_Regular;
         float: left;
         margin: 0 0 1% 0;
         font-family: LatoWeb;
         font-size: 14px;
      }

      .midContainer td {
         padding-top: 5px;
         border: 1px solid #cfcfcf;
      }

      .midContainer td label {
         text-align: right;
         float: left;
         width: 29%;
         padding-right: 5px;
         padding-bottom: 5px;
      }

      .reportsDetails {
         border: 1px solid #cfcfcf;
         background: linear-gradient(to bottom, #FFFFFF 0%, #E6E6E6 100%);
         font-size: 15px;
      }

      .reportsDetails tr {
         height: 32px;
      }

      .toggleRemarks {
         width: 0px !important;
      }

      table.dataTable thead th,
      table.dataTable thead td {
         text-align: left !important;
      }

      .maintabCont {
         float: left;
         width: 100%;
         border: 1px solid #dcdcdc;
         height: 50%;
      }

      .tabCont {
         display: table-cell;
         border-bottom: 1px solid #ececec;
         border-right: 1px solid #ececec;
         word-wrap: break-word;
         word-break: break-all
      }

      .reportsDetail {
         line-height: 2;
         height: calc(100% - 35px);
         overflow: auto;
         font-size: 14px;
      }

      .openscreenshot {
         cursor: pointer;
      }

      .openscreenshot:hover {
         text-decoration: underline;
      }

      .progress {
         overflow: hidden;
      }

      .progress-bar {
         float: left;
         height: 100%;
         font-size: 12px;
         line-height: 20px;
         color: #fff;
         text-align: center;
         box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .15);
         transition: width .6s ease;
      }

      .progress-bar {
         height: 10px !important;
      }

      .reportStatusBlk {
         float: left;
         width: 100%;
      }

      .progresslabel {
         float: left;
         display: inline-block;
         width: 15%;
         padding-left: 14px;
      }

      .customprogress {
         float: left;
         width: 53% !important;
         height: 8px !important;
         border-radius: 8px;
         margin-top: 3px;
         background-color: #e0e0e0;
      }

      .progress-bar-success {
         background: linear-gradient(to right, #39b54a, #009444) !important;
      }

      .progress-bar-danger {
         background: linear-gradient(to right, #d41e2d, #b31f2d) !important;
      }

      .progresspercentage {
         margin-left: 20px;
      }

      .rightSummaryFunc {
         width: 50%;
         float: left;
         margin-top: 80px;
         font-size: 14px;
      }

      .progress-bar-warning {
         background: linear-gradient(to right, #f7b91e, #faa536) !important;
      }

      .reportsDetail div.reportdetailsrow:nth-child(even) {
         background: #f9f9f9;
      }

      ::-webkit-scrollbar {
         width: 8px;
      }

      ::-webkit-scrollbar-track {
         -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
         border-radius: 4px;
      }

      ::-webkit-scrollbar-thumb {
         border-radius: 10px;
         -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
      }
      .buttonDivBox {
         float: right;
         position: relative;
         top: -4px;
      }
      .logintojira,
      .disconnectJira {
         cursor: pointer;
         left: -4px;
         top: -10px;
         background: #f3f3f3;
         border: 1px solid #e5e5e5;
         padding: 5px;
         border-radius: 5px;
         width: 100px;
         font-family: Latowebbold;
         color: #000;
         outline: none;
      }

      .disconnectJira {
         display: none;
      }

      .jiraWindow,
      .createIssueWindow,
      .statusWindow {
         position: absolute;
         width: 300px;
         height: 200px;
         display: inline-block;
         top: 40%;
         left: 38%;
         border: 1px solid black;
         background-color: white;
         text-align: center;
         z-index: 1001;
         border-radius: 6px;
      }

      .jiraWindow {
         width: 497px;
         height: 255px;
         left: 31%;
      }

      .jiraWindow .popupheader label {
         position: relative;
         top: 7px;
         left: 10px;
         font-family: Latowebbold;
      }

      .loginJiraCredentials,
      .resetJiraCredentials {
         float: right;
         margin-right: 28px;
         left: -4px;
         top: -10px;
         background: #f3f3f3;
         border: 1px solid #e5e5e5;
         padding: 5px;
         border-radius: 5px;
         width: 100px;
         font-family: Latowebbold;
         color: #000;
         outline: none;
         cursor: pointer;
      }

      .jiraWindow .error-msg {
         float: left;
         margin: 2px 5px;
         font-size: 14px;
         color: red;
      }

      .statusWindow {
         height: 130px;
      }

      .createIssueWindow {
         width: 500px;
         height: 80%;
         top: 10%;
         left: calc(50% - 250px);
         overflow: auto;
      }

      .createIssueWindow p {
         width: calc(100% - 43px);
         float: left;
         padding: 0 0 0 42px;
         margin-top: 6px;
         margin-bottom: 6px;
      }

      .createIssueWindow p:nth-child(2) {
         margin-top: 12px;
      }

      .createIssueWindow p:nth-child(3) {
         margin-bottom: 0;
         padding-bottom: 6px;
      }

      .createIssueWindow p:nth-child(4) {
         margin-top: 6px;
      }

      .createIssueWindow p:nth-child(11) {
         background: linear-gradient(to bottom, #FFFFFF 0%, #E6E6E6 50%);
         border-radius: 5px;
         border-top: 1px solid #ccc;
         height: 117px;
         margin-bottom: 0;
         position: relative;
         bottom: calc(100% - 620px);
      }

      .createIssueWindow p label {
         width: 112px;
         text-align: right;
         font-size: 15px;
         position: relative;
         right: 24px;
      }

      .createIssueWindow p label,
      .createIssueWindow p select,
      .createIssueWindow p textarea,
      .createIssueWindow p input {
         float: left;
      }
	  .btn-footer {
		 border-top: 1px solid #ddd;
	  }
      .jirapopupinput {
         width: 250px;
         height: 28px;
         border-radius: 4px;
         border-style: groove;
         text-align: center;
         margin-bottom: 10px;
		 resize:none;	
         border: 1px solid rgb(187, 187, 187);		 
      }

      .jiraWindow .jirapopupinput {
         width: calc(100% - 55px);
         height: 28px;
         border-radius: 4px;
         border-style: groove;
         text-align: center;
         margin-bottom: 15px;
      }
	  
	  select.jirapopupinput{
	     width: 256px
	  }

      .popupheader {
         width: 100%;
         background: linear-gradient(to bottom, #FFFFFF 0%, #E6E6E6 60%);
         height: 35px;
         margin-bottom: 14px;
         border-radius: 5px;
      }

      .createIssueWindow .popupheader {
         height: 42px;
         border-bottom: 1px solid #ccc;
         margin-bottom: 12px;
         background: linear-gradient(to bottom, #FFFFFF 0%, #E6E6E6 100%);
         border-radius: 5px;
      }

      .createIssueWindow .popupheader label {
         float: left;
         margin: 13px 0 0 18px;
         font-family: Latowebbold;
      }

      .createIssueWindow .popupheader .closeWindow {
         margin-top: 13px;
         margin-right: 15px;
      }

      .closeWindow {
         cursor: pointer;
      }

      .popupheader span {
         float: right;
         margin-top: 6px;
         margin-right: 12px;
         margin-top: 9px;
      }

      .statusWindow .popupheader label {
         float: left;
         margin: 6px 0 0 20px;
      }

      #jSummary,
      #jDescription,
      #jlabel {
		   height: 80px;
         text-align: left;
		   resize: none;
      }

      #jDescription {
         height: 130px;
		   resize: none;
      }

      #jDeadline {
         text-align: left;
      }

      .createIssues,
      .cancelIssues {
         margin-right: 45px;
         width: 88px;
         height: 26px;
         margin-top: 14px;
         border-radius: 5px;
      }

      .createIssues:hover,
      .cancelIssues:hover {
         color: white;
         background-color: #3b73af;
         border-style: none;
      }

      #overlay {
         display: none;
         position: absolute;
         top: 0;
         left: 0;
         width: 100%;
         height: 100%;
         z-index: 1000;
         background-color: #333;
         opacity: .80;
      }

      .mandatory {
         color: red;
         font-size: 17px;
      }

      .Llogdefect {
         position: relative;
         left: 4px;
         display: none;
         z-index: -1;
      }

      #inputSlno {
         border-radius: 3px;
         border-style: groove;
         width: 100px;
         position: relative;
         left: 6px;
         display: none;
      }

      .go_defectlog {
         position: relative;
         left: 10px;
         border-radius: 3px;
         cursor: pointer;
         bottom: 1px;
         display: none;
      }

      @media screen and (max-height: 680px) {
         .reportsDetail {
            height: 174px;
         }

         .headerRepDetails {
            padding: 1px 40px;
         }

         .summaryCon {
            height: 30px;
         }

         .summaryCon span {
            top: 6px;
         }

         .leftSummary {
            padding: 15px 0 6px 0;
         }

         .rightSummaryFunc {
            margin-top: 74px;
         }

         .maintabCont {
            height: 33%;
         }

         .reportsDetail {
            height: 148px;
         }
      }

      @media screen and (min-device-width: 1440px) and (max-device-height: 900px) {
         .summaryCon {
            height: 30px;
         }

         .leftSummary {
            padding: 15px 0;
         }

         .rightSummaryFunc {
            margin-top: 72px;
         }

         .maintabCont {
            height: 325px;
         }

         .headerRepDetails {
            padding: 1px 40px;
         }

         .summaryCon span {
            top: 6px;
         }
      }

      @media screen and (min-height: 1000px) {
         .headerRepDetails {
            padding: 0px 40px;
         }

         .summaryCon {
            height: 28px;
         }

         .summaryCon span {
            top: 5px;
         }

         .leftSummary {
            padding: 18px 0;
         }

         .rightSummaryFunc {
            margin-top: 76px;
         }

         .midContainer {
            margin: -10px 0 6px 0;
         }

         .midContainer td {
            padding-top: 3px;
            padding-bottom: 0px;
         }

         .maintabCont {
            height: 207px;
         }

         .reportsDetail {
            height: 172px;
         }
      }

      @media only screen and (height:768px) {
         .headerRepDetails {
            padding: 1px 40px;
         }

         .summaryCon {
            height: 28px;
         }

         .summaryCon span {
            top: 5px;
         }

         .leftSummary {
            padding: 18px 0;
         }

         .rightSummaryFunc {
            margin-top: 76px;
         }

         .midContainer {
            margin: -10px 0 6px 0;
         }

         .midContainer td {
            padding-top: 3px;
            padding-bottom: 0px;
         }

         .maintabCont {
            height: 353px;
         }

         .reportsDetail {
            height: 317px;
         }
      }

      @media only screen and (height:790px) {
         .reportStatus {
            margin-top: 52px;
         }

         .headerRepDetails {
            padding: 0px 40px;
         }

         .summaryCon {
            height: 28px !important;
         }

         .summaryCon span {
            top: 5px !important;
         }

         .leftSummary {
            padding: 12px 0 !important;
         }

         .rightSummaryFunc {
            margin-top: 20px !important;
         }

         .midContainer {
            margin: 0 0 7px 0 !important;
         }
      }

      #overlayContainer {
         position: fixed;
         background-color: rgba(0, 0, 0, 0.85);
         -moz-background-color: rgba(0, 0, 0, 0.85);
         -webkit-background-color: rgba(0, 0, 0, 0.85);
         width: 100%;
         height: 100%;
         top: 0;
         left: 0;
         cursor: wait;
         z-index: 10001;
         display: none
      }

      .contentOverlay {
         position: absolute;
         left: 50%;
         top: 50%;
         transform: translateX(-50%) translateY(-50%);
         -moz-transform: translateX(-50%) translateY(-50%);
         -webkit-transform: translateX(-50%) translateY(-50%);
         background: #fff;
         padding: 10px 20px;
         border-radius: 5px;
         -moz-border-radius: 5px;
         -webkit-border-radius: 5px;
         cursor: auto;
         color: #461F6E;
         font-family: LatoWebBold;
      }

      .reportsDetails th,
      .reportdetailsrow div {
         text-align: left !important;
         padding: 2px;
      }

      .collapsible {
         color: black;
         cursor: pointer;
         width: 100%;
         border: 0px solid #cfcfcf;
         text-align: left;
         outline: none;
         font-size: 15px;
         border-radius: 5px;
         height: 40px;
         background: none;
         font-family: latowebbold;
         font-weight: 500;
      }

      .content {
         padding: 0 18px;
         display: block;
         overflow: hidden;
         transition: max-height 0.2s ease-out;
         background-color: #f1f1f1;
      }

      .hide {
         display: none;
      }

      /*.scroll-table-container {
         height: 89%;
         width: 100%;
         overflow-y: scroll;
         box-sizing: border-box;
         border: 1px solid #dcdcdc;
      }*/

      .scroll-table {
         border-collapse: collapse;
         width: 100%;
      }

      /* width */
      ::-webkit-scrollbar {
         width: 10px;
      }

      /* style for scroll bar*/
      /* Track */
      ::-webkit-scrollbar-track {
         box-shadow: inset 0 0 5px grey;
         border-radius: 10px;
      }

      /* Handle */
      ::-webkit-scrollbar-thumb {
         background: linear-gradient(to bottom, #FFFFFF 0%, #E6E6E6 100%);
         border-radius: 10px;
      }

      /* Handle on hover */
      ::-webkit-scrollbar-thumb:hover {
         background: linear-gradient(to bottom, #FFFFFF 0%, #E6E6E6 100%);
      }

      .arrow-down {
         height: 0px;
         width: 0px;
         border: none;
         border-top: 7px solid #000000;
         border-left: 6px solid rgba(0, 0, 0, 0);
         border-right: 6px solid rgba(0, 0, 0, 0);
         float: left;
         position: absolute;
         left: -20px;
         top: 2px;
         cursor: pointer;
      }

      .arrow-up {
         width: 0;
         height: 0;
         border-top: 5px solid transparent;
         border-bottom: 7px solid transparent;
         border-left: 9px solid #000;
         float: left;
         position: absolute;
         left: -16px;
         top: 0px;
         cursor: pointer;
      }

      .arrow-down-sm {
         display: inline;
         height: 0px;
         width: 0px;
         border: none;
         border-top: 5px solid #000000;
         border-left: 5px solid rgba(0, 0, 0, 0);
         border-right: 5px solid rgba(0, 0, 0, 0);
         position: relative;
         left: -2px;
         top: 4px;
         float: left;
         cursor: pointer;
      }

      .arrow-up-sm {
         width: 0;
         height: 0;
         border-top: 5px solid transparent;
         border-bottom: 5px solid transparent;
         border-left: 5px solid #000;
         float: left;
         position: relative;
         top: 8px;
         left: 0px;
         cursor: pointer;
      }

      .maintabContCollapsed {
         height: calc(100% - 75px);
      }

      /*.responsiveHeight {
         height: calc(100% - 55%) !important;
      }*/

      .responsiveHeight_collapsed {
         height: calc(100% - 11%) !important;
      }

      table.dataTable.nowrap th,
      table.dataTable.nowrap td {
         text-align: left !important;
      }

      table.datatable {
         table-layout: fixed !important;
      }

      table.dataTable thead th {
         text-align: left !important;
         background: linear-gradient(to bottom, #FFFFFF 0%, #E6E6E6 100%);
         font-size: 15px;
         font-family: Latoweb;
      }

      .dataTables_scrollHead {
         background: linear-gradient(to bottom, #FFFFFF 0%, #E6E6E6 100%);
      }

      .dataTables_scrollBody {
         border: 1px solid #e5e5e5;
         /* max-height: 380px !important;*/
      }

      .dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody>table>tbody>tr>td {
         font-family: Latoweb;
         font-size: 14px !important;
      }

      .rightBox {
         float: right !important;
         width: 50% !important;
         position: relative;
         left: 0% !important;
      }

      .moduleEllipsis {
         white-space: nowrap;
         overflow: hidden;
         text-overflow: ellipsis;
      }

      .progVal {
         padding-right: 12px;
         padding-left: 2px;
         position: relative;
         text-align: center;
      }

      .progressPercentBox {
         font-family: Latowebbold;
         text-align: left;
         left: 8px;
         position: relative;
         padding-bottom: 2% !important;
      }

      .resultSummary {
         font-weight: bold;
      }

      .resultSummaryBox {
         float: left;
      }
      table.dataTable.no-footer {
         border-bottom: none !important;
      }
      .mainTabCont_collapse {
         float: left;
         width: 100%;
      }
      .noScreenshot {
         cursor: auto;
      }
      .export-icons {
         cursor: pointer;
         width: 21px;
         height: 22px;
         margin-left: 10px;
      }
      .capitalize{
         text-transform: capitalize;
      }
   </style>
</head>

<body>
   <span class='hide remarksLength'>{{remarksLength}}</span>
   <span class='hide commentsLength'>{{commentsLength}}</span>
   <span class='hide errormessage'>{{error.emsg}}</span>
   <div class="mainContainer">

      {{#each overallstatus}}
      <div class="hearderCon">
         <div class="headerRepDetails">
            <label>Date Generated: </label>
            <span>{{date}} {{time}}</span>
         </div>
         <div class="headerRepDetails">
            <label>Module Name: </label>
            <span class='moduleEllipsis' title="{{moduleName}}">{{moduleName}}</span>
         </div>
         <div class="h2Header">
            <h4>Avo Assure Execution Report | Scenario</h4>
         </div>
         <div class="h2Header" style="left:78%;user-select:none">
            <label for="scrShotChk" title="Include Screenshots in PDF" style="font-size:13px">With Screenshots</label>
            <input id="scrShotChk" type="checkbox" title="Include Screenshots in PDF" style="height:12px;margin:0" checked="true">
            <img alt="Save PDF" class="export-icons" data-rep="pdf" src="../static/imgs/ic-pdf.png" title="Save PDF Report">
            <img alt="Export JSON" class="export-icons" data-rep="json" style="" src="../static/imgs/ic-export-to-json.png" title="Export to JSON">
            {{#ifnotEquals video '-'}}
               <img alt="Download video" class="export-icons" data-rep="mp4" data-path="{{video}}" style="" src="../static/imgs/screenrecord.png" title="Download Execution Video">
            {{/ifnotEquals}}
         </div>
      </div>
      <button class="collapsible">
         <span style="left: 40px;position: relative">
            <span class="arrow-down"></span><span class='resultSummary'>Result Summary</span></span>
      </button>
      <div class='resultSummaryBox' style="width: 100%;">
         <div class="leftSummary">
            <label>Scenario</label>
            <span class="scenarioName">: {{scenarioName}}</span>
            <label>Cycle</label>
            <span>: {{cycleName}}</span>
            <label>Release</label>
            <span>: {{releaseName}}</span>
            <label>Project</label>
            <span>: {{projectName}}</span>
            <label>Domain</label>
            <span>: {{domainName}}</span>
            <label>Browser Type</label>
            <span class="capitalize">: {{browserType}}</span>
            <label>Browser Version</label>
            <span>: {{browserVersion}}</span>
            {{#ifnotEquals version undefined}}
               {{#ifnotEquals version '-'}}
                  <label>Version</label><span>: {{version}}</span>
               {{/ifnotEquals}}
            {{/ifnotEquals}}
            <span style='visibility:hidden' class="reportId">{{reportId}}</span>
            <span style='visibility:hidden' class="executionId">{{executionId}}</span>
         </div>
         <div class="leftSummary rightBox">
            <label>Overall Status</label>
            <span class='overallStatusVal' style="color:{{getColor overallstatus}}"><text style='color:#000; !important'>:</text> {{overallstatus}}</span>
            <label class='toggleIncompleteStatus'>Testcase Status: </label>
            <span class="progress customprogress toggleIncompleteStatus">
               <span class="progress-bar" role="progressbar" style="background-color:#28a745;width:{{pass}}%">
               </span>
               <span class="progress-bar" role="progressbar" style="background-color:#dc3545;width: {{fail}}%">
               </span>
               <span class="progress-bar" role="progressbar" style="background-color:#ffc107;width: {{terminate}}%">
               </span>
            </span>
            <label></label>
            <span class="progressPercentBox toggleIncompleteStatus">
               <text style="color:#28a745;" class='progVal'>Pass: {{pass}}%</text>
               <text style="color:#dc3545;" class='progVal'>Fail: {{fail}}%</text>
               <text style="color:#ffc107;" class='progVal'>Terminated: {{terminate}}%</text>
            </span>
            <label class='toggleIncompleteStatus'>Start Date and Time </label>
            <span class='toggleIncompleteStatus'>: {{StartTime}}</span>
            <label class='toggleIncompleteStatus'>End Date and Time </label>
            <span class='toggleIncompleteStatus'>: {{EndTime}}</span>
            <label class='toggleIncompleteStatus'>Time Elapsed </label>
            <span class='toggleIncompleteStatus'>: {{EllapsedTime}}</span>
         </div>
      </div>
      {{/each}}
      <div class='buttonDivBox'>
         <button class="logintojira" title="Login to Jira">Jira Login</button>
         <button class="disconnectJira" title="Disconnect from Jira">Disconnect</button>
         <label class="Llogdefect">Log Defect</label>
         <input type="text" id="inputSlno" placeholder="Enter SL No." maxlength="5" />
         <button class="go_defectlog opendescpopup">Go</button>
      </div>
      <!-- Reports Table -->
      <div class="maintabCont_collapse">
         <table id="specificReportDataTable" class="display responsive wrap" style="width:100%;table-layout:fixed;">
            <thead>
               <tr>
                  <th>Sl No.</th>
                  <th>Test Step No.</th>
                  <th style="display:none">Test Step Description</th>
                  <th>Expected Result</th>
                  <th>Actual Result</th>
                  <th>Status</th>
                  <th>Elapsed Time</th>
                  <th class='toggleCommentsCol'>Comments</th>
                  <th>JIRA Defect ID</th>
               </tr>
            </thead>
            <tbody>
               {{#each rows}}
               <tr style="width: 100%;" class="reportdetailsrow" data-id="{{id}}" data-parentid="{{parentId}}">
                  <td class="rDid tabCont">{{slno}}</td>
                  {{#ifEquals status "Skipped"}}
                     <td class="rDstep tabCont iteration"></td>
                  {{/ifEquals}}
                  {{#ifnotEquals status "Skipped"}}
                  <td class="rDstep tabCont iteration">{{Step}}</td>
                  {{/ifnotEquals}}
                  <td class="{{getClass StepDescription}}"
                     style="display:none;width:0px; padding-left: 10px; font-weight:{{getStyle StepDescription}}">
                     {{StepDescription}}
                  </td>
                  {{#ifEquals testcase_details.testcaseDetails undefined}}
                  <td class="rDExpectedRes tabCont {{getClass StepDescription}}">{{StepDescription}}</td>
                  {{/ifEquals}} {{#ifEquals testcase_details.testcaseDetails ""}}
                  <td class="rDExpectedRes tabCont">{{StepDescription}}</td>
                  {{/ifEquals}} {{#ifnotEquals testcase_details.testcaseDetails ""}}
                  {{#ifnotEquals testcase_details undefined}}
                  <td class="rDExpectedRes tabCont">{{testcase_details.testcaseDetails}}</td>
                  {{/ifnotEquals}} {{/ifnotEquals}} {{#ifEquals status undefined}}
                  <td class="rDActualRes tabCont"></td>
                  {{/ifEquals}} {{#ifEquals status ""}}
                  <td class="rDActualRes tabCont"></td>
                  {{/ifEquals}} {{#ifEquals status "Pass"}} {{#ifEquals testcase_details.actualResult_pass ""}}
                  <td class="rDActualRes tabCont">
                     {{#ifEquals screenshot_path undefined}}
                     <text class="rDstatus rDstatusLnk" style='text-decoration:none !important;cursor:default;'>As Expected</text>
                     {{/ifEquals}} {{#ifnotEquals screenshot_path undefined}}
                     <text class="rDstatus openscreenshot"  style='text-decoration:none !important;cursor:default;'>As Expected</text>
                     {{/ifnotEquals}}
                  </td>
                  {{/ifEquals}} {{#ifnotEquals testcase_details.actualResult_pass ""}}
                  <td class="rDActualRes tabCont">
                     {{testcase_details.actualResult_pass}}
                  </td>
                  {{/ifnotEquals}} {{/ifEquals}} {{#ifEquals status "Fail"}}
                  {{#ifEquals testcase_details.actualResult_fail ""}}
                  <td class="rDActualRes tabCont">
                     {{#ifEquals screenshot_path undefined}}
                     <text class="rDstatus rDstatusLnk" style="color:{{getColor status}};">{{status}}</text>
                     {{/ifEquals}} {{#ifnotEquals screenshot_path undefined}}
                     <text class="rDstatus openscreenshot" style="color:{{getColor status}};"
                        data-screenshot="{{screenshot_path}}">{{status}}</text>
                     {{/ifnotEquals}}
                  </td>
                  {{/ifEquals}} {{#ifnotEquals testcase_details.actualResult_fail ""}}
                  <td class="rDActualRes tabCont">
                     {{testcase_details.actualResult_fail}}
                  </td>
                  {{/ifnotEquals}} {{/ifEquals}}
                  {{#ifEquals status "Terminate"}}
                     <td class="rDActualRes tabCont">{{StepDescription}}</td>
                   {{/ifEquals}}
                   {{#ifEquals status "Skipped"}}
                     <td class="rDActualRes tabCont">Skipped</td>
                   {{/ifEquals}}
                  <td class="rDstatus tabCont openscreenshot" style="color:{{getColor status}};"
                     data-screenshot="{{screenshot_path}}">{{status}}</td>
                  <td class="rDellaps tabCont">{{EllapsedTime}}</td>
                  <td style='display:none !important' class="rDcomments tabCont">{{Comments}}</td>
                  <td class="rjira tabCont">
                     <span class="opendescpopup" title="Create Issue">{{jira_defect_id}}</span>
                  </td>
               </tr>
               {{/each}}
            </tbody>
         </table>
      </div>
      <!-- Reports Table -->
   </div>
   <div id="overlay"></div>
   <!-- Jira login window popup-->
   <div class="jiraWindow" style="display: none;">
      <div class="popupheader">
         <label>Login to Jira</label>
         <span class="closeWindow">X</span>
      </div>
      <input type="text" class="jirapopupinput" placeholder="Enter Url" id="jiraURL" />
      <input type="text" class="jirapopupinput" placeholder="Enter User Name" id="jiraUserName" />
      <input type="password" class="jirapopupinput" placeholder="Enter Password" id="jiraPassword" />
      <button type="button" class="resetJiraCredentials">Reset</button>
      <button type="button" class="loginJiraCredentials">Connect</button>
      <span class="error-msg"></span>
   </div>
   <!-- Jira description window popup-->
   <div class="createIssueWindow" style="display: none;">
      <div class="popupheader">
         <label>Create Issue</label>
         <span class="closeWindow">X</span>
      </div>
      <p>
         <label>Projects
            <span class="mandatory">*</span>
         </label>
         <select class="jirapopupinput" id="jProjects">
            <option value="" selected disabled>Select Projects</option>
         </select>
      </p>
      <p>
         <label>Issue Type
            <span class="mandatory">*</span>
         </label>
         <select class="jirapopupinput" id="jIssuetype">
            <option value="" selected disabled>Select Issue</option>
         </select>
      </p>
      <p id='parentIssue'>
         <label>Parent Issue Id
            <span class="mandatory">*</span>
         </label>
         <input type="text" class="jirapopupinput" id="jpIssueid" />
      </p>
      <p>
         <label>Summary
            <span class="mandatory">*</span>
         </label>
         <textarea type="text" class="jirapopupinput" id="jSummary" maxlength="255"
            title="Maximum 255 characters accepted."></textarea>
      </p>
      <p>
         <label>Description</label>
         <textarea class="jirapopupinput" id="jDescription"></textarea>
      </p>
      <p>
         <label>Priority
		     <span class="mandatory">*</span>
		 </label>
         <select class="jirapopupinput" id="jPriority">
            <option value="" selected disabled>Select Priority</option>
         </select>
      </p>
      <p>
         <label>Label</label>
         <input class="jirapopupinput" id="jLabel"/>
      </p>
      <p>
         <label>Attachment Path</label>
         <input type="text" id="scrnShotPath" class="jirapopupinput" />
      </p>
      <p class='btn-footer'>
         <span class="error-msg"></span>
         <button type="button" class="cancelIssues">Cancel</button>
         <button type="button" class="createIssues">Create</button>
      </p>
   </div>
   <!-- Ststus popup window -->
   <div class="statusWindow" style="display: none;">
      <div class="popupheader">
         <label>Create Issue</label>
         <span class="closeWindow">X</span>
      </div>
      <p>
         <label id="showStatus"></label>
      </p>
      <p>
         <button type="button" class="closeWindow">Ok</button>
      </p>
   </div>
   <script type="text/javascript" src="../static/reports/specificReport.js"></script>
</body>

</html>