<html style="height: 100%;">
    <head>
        <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
        <title>SLK Nineteen68</title>
        <link rel="stylesheet" type="text/css" href="{#asset latofonts.css @encoding=link}"/>
        <link rel="stylesheet" type="text/css" href="{#asset font-awesome.min.css @encoding=link}"/>
        <script type="text/javascript" src="{#asset jquery.min.js @encoding=link}"></script>
        <script>
			setTimeout(function(){
				if($('.reportsDetail .reportdetailsrow').length < 12){
					$('.rDstep').css('width','10.1%');
					$('.rDstepDes').css('width','49.6%');
					$('.rDstatus').css('width','10%');
				}

				var getRows = $('.reportdetailsrow');
				// for(i=0; i<getRows.length; i++){
				// 	var parentid;
                //     if(getRows[i].getAttribute('data-parentid').length > 1){
                //        parentid = parseInt(getRows[i].getAttribute('data-parentid').split(",")[1]);
                //     }
                //     else parentid = parseInt(getRows[i].getAttribute('data-parentid'));
                //     var flag = true;
                //     if(parentid == 1){
                //         getRows[i].children[1].innerHTML += '<i class="fa fa-caret-down unexpand" aria-hidden="true" style="position: relative; left: -63px;"></i>';
                //     }
				// 	else if(parentid > 1){
				// 		for(j=i; j>=0 ;j--){
				// 			if(parentid == getRows[j-1].getAttribute('data-id')){
                //                 flag = false;
                //                 break;
                //             }
                //             else if(parentid != getRows[j-1].getAttribute('data-id')){
				// 				flag = true;
				// 			}
				// 		}
                //         if(flag == true){
                //             getRows[i].children[1].innerHTML += '<i class="fa fa-caret-down unexpand" aria-hidden="true" style="position: relative; left: -63px;"></i>';
                //         }
				// 	}
				// }
                for(i=0; i<getRows.length; i++){
                    var getRowId = parseInt(getRows[i].getAttribute('data-id'));
                    var name = getRows[i].children[2].innerHTML;
                    var rowCount = 0;
                    var getParentId;
                    if(getRows[i].children[3].getAttribute("data-screenshot").length <= 0 || getRows[i].children[3].getAttribute("data-screenshot").toLowerCase().indexOf(".png") == -1){
                    	getRows[i].children[3].classList.remove("openscreenshot");
                    }
                    for(j=i; j<getRows.length; j++){
                        if(parseInt(getRows[j].getAttribute('data-parentid')).length == NaN)    getParentId = parseInt(getRows[j].getAttribute('data-parentid').split(",")[1]);
                        else    getParentId = parseInt(getRows[j].getAttribute('data-parentid'));
                        if(getParentId == getRowId && name.indexOf('TestCase Name') === -1) rowCount++;
                    }
                    if (rowCount > 0) {
                        if (getRows[i].children[1].innerText.indexOf("Step") >= 0) {
                            getRows[i].children[1].innerHTML += '<i class="fa fa-caret-down unexpand" aria-hidden="true" style="position: relative; left: -58px;"></i>';
                        } 
                        else if (getRows[i].children[1].innerText.trim() == "") {
                            getRows[i].children[1].innerHTML += '<i class="fa fa-caret-down unexpand" aria-hidden="true" style="position: relative; left: -54px;"></i>';
                        }
                        else {
                            getRows[i].children[1].innerHTML += '<i class="fa fa-caret-down unexpand" aria-hidden="true" style="position: relative; left: -97px;"></i>';
                        }
                        rowCount = 0;
                    }
                }

                window.stop();

                $(document).on('click', '.unexpand', function(){
                    var getID = $(this).parents('.reportdetailsrow').attr('data-id');
                    $(this).removeClass('unexpand').addClass('expand');
                    $(this).removeClass('fa-caret-down').addClass('fa-caret-right');
                    $.each(getRows, function(){
                        if($(this).attr('data-parentid') == getID){
                            $(this).hide();
                        }
                    })
                })

                $(".rDstatus").each(function() {
                    if($.trim($(this).text()) == "")
                    {
                        $(this).css("pointer-events","none");
                    }
                });


				$(document).on('click', '.openscreenshot', function(){
					var path = $(this).attr("data-screenshot");
                    var hostName = window.location.host;
                    console.log(path+"-----"+hostName);
                    if($.trim(path) != "")
                    {
                            $.ajax({
                            type: 'POST',
                            url: 'https://'+hostName+'/openScreenShot',
                            responseType: 'arraybuffer',
                            data: {
                                "absPath" : path
                            },
                            success: function(data){
                                if(data == "unavailableLocalServer"){
                                    alert("Local Server unavailable");
                                }
                                else if(data == "fail"){
                                    alert("Failed to open image");
                                }
                                else{
                                    var b64Response = window.btoa(unescape(encodeURIComponent(data)));
                                    var imageUrl = 'data:image/PNG;base64,'+ data;
                                    var WindowObject = window.open();
                                    var strHtml = "<html>\n<head>\n </head><body><div style='padding: 10px;'>\n<img style='width: 100%; height: calc(100% - 40px); border: 1px solid #ccc;' src='" + imageUrl + "'/>\n</div>\n</body>\n</html>";
                                    WindowObject.document.writeln(strHtml);
                                }
                            }
                        });
                    }
                   
                })

                $(document).on('click', '.expand', function(){
                    var getID = $(this).parents('.reportdetailsrow').attr('data-id');
                    $(this).removeClass('expand').addClass('unexpand');
                    $(this).removeClass('fa-caret-right').addClass('fa-caret-down');
                    $.each(getRows, function(){
                        if($(this).attr('data-parentid') == getID){
                            $(this).show();
                        }
                    })
                })

			}, 400);
		</script>
        <style>
            body{font-family: LatoWeb; height: 98%; overflow: hidden;}
            .mainContainer{ border: 1px solid #B5AAAA; margin: 4px; float: left; padding: 14px; width: 97%; height: calc(100% - 50px);}
            .hearderCon{position: relative; width: 100%; float: left; border: 1px solid #cfcfcf; background: linear-gradient(to bottom, #FFFFFF 0%, #E6E6E6 100%); height: 50px; margin-bottom: 10px;border-radius: 5px; font-size: 16px; padding-top: 7px;}
            .headerRepDetails{ width: 50%; padding: 3px 40px;}
            .headerRepDetails label{ text-align: right; width: 29%; font-size: 13px;}
            .headerRepDetails span{ width: 64%; padding-bottom: 5px; font-weight: bold; font-size: 13px;}
            .h2Header{ position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);}
            .leftSummary{width: 50%; float: left; padding: 25px 0; font-size: 14px;}
            .leftSummary label{
                text-align: right;
                float: left;
                width: 29%;
                padding-right: 5px;
                padding-bottom: 5px;
            }
            .leftSummary span{
                float: left;
                width: 64%;
                padding-bottom: 5px;
                font-weight: bold;
            }
            .summaryCon{position: relative; float: left; width: 100%; border: 1px solid #cfcfcf; background: linear-gradient(to bottom, #FFFFFF 0%, #E6E6E6 100%); height: 38px; border-radius: 5px;}
            .summaryCon span{position: absolute; top: 10px; left: 40px;}
            .midSection{float: left; width: 100%;}
            .midContainer{
                border-collapse: collapse;
                border: 1px solid #cfcfcf;
                width: 100%;
                font: 14px cabin_Regular;
                float: left;
                margin: 0 0 1% 0;
                font-family: LatoWeb;
    			font-size: 14px;
            }
            .midContainer td{padding-top: 5px; border: 1px solid #cfcfcf;}
            .midContainer td label{
                text-align: right;
                float: left;
                width: 29%;
                padding-right: 5px;
                padding-bottom: 5px;
            }
            .reportsDetails{border: 1px solid #cfcfcf; background: linear-gradient(to bottom, #FFFFFF 0%, #E6E6E6 100%); font-size: 15px;}
            .reportsDetails tr{height: 32px;}
            .reportsDetails th:nth-child(1){width: 5%;} .rDid{width: 5.25%;}
            .reportsDetails th:nth-child(2){width: 10%;} .rDstep{width: 10.25%;}
            .reportsDetails th:nth-child(3){width: 50%;} .rDstepDes{width: 49.8%;}
            .reportsDetails th:nth-child(4){width: 10%;} .rDstatus{width: 10.1%;}
            .reportsDetails th:nth-child(5){width: 12%;} .rDellaps{width: 12.1%;}
            .reportsDetails th:nth-child(6), .rDcomments{width: 13%; word-break: break-word; word-break: break-all;}
            .maintabCont{float: left; width: 100%; border: 1px solid #dcdcdc; height: 51%;}
            .tabCont{display: table-cell; border-bottom: 1px solid #ececec; border-right: 1px solid #ececec;}
            .reportsDetail{line-height: 2; text-align: center; height: calc(100% - 35px); overflow: auto;font-size: 14px;}
            .rDstepDes{text-align: left; word-break: break-word;}
            .openscreenshot{cursor: pointer;}
            .openscreenshot:hover{text-decoration: underline;}
            .progress {
                margin-bottom: 20px;
                overflow: hidden;
                box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
            }
            .progress-bar {
                float: left;
                height: 100%;
                font-size: 12px;
                line-height: 20px;
                color: #fff;
                text-align: center;
                box-shadow: inset 0 -1px 0 rgba(0,0,0,.15);
                transition: width .6s ease;
            }
            .reportStatusBlk {
                float: left;
                width: 100%;
            }
            .progresslabel {
                float: left;
                display: inline-block;
                width: 15%;
                padding-left: 14px;
            }
            .customprogress{
                float: left;
                width: 45% !important;
                height: 12px;
                border-radius: 8px;
                margin-top: 3px;
                background-color: #e0e0e0;
            }
            .customprogress .progress-bar {
                border-radius: 20px;
            }
            .progress-bar-success {
                background: linear-gradient(to right, #39b54a, #009444) !important;
            }
            .progress-bar-danger {
                background: linear-gradient(to right, #d41e2d, #b31f2d) !important;
            }
            .progresspercentage{margin-left: 20px;}
            .rightSummaryFunc{
                    width: 50%;
                    float: left;
                    margin-top: 80px;
                    font-size: 14px;
            }
            .progress-bar-warning {
                background: linear-gradient(to right, #f7b91e, #faa536) !important;
            }
            .reportsDetail div.reportdetailsrow:nth-child(even){background: #f9f9f9;}
			::-webkit-scrollbar{
			    width: 8px;
			}
			::-webkit-scrollbar-track{
			    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
			    border-radius: 4px;
			}
			::-webkit-scrollbar-thumb{
			    border-radius: 10px;
			    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
			}
			@media screen and (max-height: 680px) {
				.reportsDetail{
					height: 174px;
				}
				.hearderCon{height: 40px;}
				.headerRepDetails{padding: 1px 40px;}
				.summaryCon{height: 30px;}
				.summaryCon span{top: 6px;}
				.leftSummary{padding: 15px 0 6px 0;}
				.rightSummaryFunc{margin-top: 74px;}
				.maintabCont{height: 33%;}
				.reportsDetail{height: 148px;}
			}
			@media screen and (min-device-width: 1440px) and (max-device-height: 900px){
				.hearderCon{height: 38px;}
				.summaryCon{height: 30px;}
				.leftSummary{padding: 15px 0;}
				.rightSummaryFunc{margin-top: 72px;}
				.maintabCont{height: 325px;}
				.headerRepDetails{padding: 1px 40px;}
				.summaryCon span{top: 6px;}
			}
			@media screen and (min-height: 1000px){
				.hearderCon{height: 35px !important;}
				.headerRepDetails{padding: 0px 40px;}
				.summaryCon{height: 28px;}
				.summaryCon span{top: 5px;}
				.leftSummary{padding: 18px 0;}
				.rightSummaryFunc{margin-top: 76px;}
				.mainContainer > div:nth-child(4){margin-top: 258px !important;}
				.midContainer{margin: -10px 0 6px 0;}
				.midContainer td{padding-top: 3px; padding-bottom: 0px;}
				.maintabCont{height: 207px;}
				.reportsDetail{height: 172px;}
			}
			@media only screen and (height:768px){
				.hearderCon{height: 40px !important;}
				.headerRepDetails{padding: 1px 40px;}
				.summaryCon{height: 28px;}
				.summaryCon span{top: 5px;}
				.leftSummary{padding: 18px 0;}
				.rightSummaryFunc{margin-top: 76px;}
				.midContainer{margin: -10px 0 6px 0;}
				.midContainer td{padding-top: 3px; padding-bottom: 0px;}
				.maintabCont{height: 353px;}
				.reportsDetail{height: 317px;}
			}
        </style>
    </head>
    <body>
        <div class="mainContainer">
            {{#each overallstatus}}
            <div class="hearderCon" >
                <div class="headerRepDetails">
                    <label>Report Generated Date : </label><span>{{date}}</span>
                </div>
                <div class="headerRepDetails">
                    <label>Report Generated Time : </label><span>{{time}}</span>
                </div>
                <div class="h2Header">
                    <h4>SLK Nineteen68 Execution Report</h4>
                </div>
            </div>
            <div class="summaryCon">
                <span>Result Summary</span>
            </div>
            <div style="width: 100%;">
                <div class="leftSummary">
                    <label>Scenario :</label><span>{{scenarioName}}</span>
                    <label>Cycle :</label><span>{{cycleName}}</span>
                    <label>Release :</label><span>{{releaseName}}</span>
                    <label>Project :</label><span>{{projectName}}</span>
                    <label>Domain :</label><span>{{domainName}}</span>
                    <label>Browser Type :</label><span>{{browserType}}</span>
                    <label>Browser Version :</label><span>{{browserVersion}}</span>
                </div>
                <div id="rightSummaryFunc" class="rightSummaryFunc">
                    <div class="reportStatus">
            			<div class="reportStatusBlk">
            				<span class="progresslabel">Pass</span>
            				<div class="progress customprogress">
            					<span class="progress-bar progress-bar-success" style="width: {{pass}}%" role="progressbar"></span>
            				</div>
            				<span class="progresspercentage">{{pass}} %</span>
            			</div>
            			<div class="reportStatusBlk">
            				<span class="progresslabel">Fail</span>
            				<div class="progress customprogress">
            					<span class="progress-bar progress-bar-danger" style="width: {{fail}}%" role="progressbar"></span>
            				</div>
            				<span class="progresspercentage">{{fail}} %</span>
            			</div>
            			<div class="reportStatusBlk">
            				<span class="progresslabel">Terminated</span>
            				<div class="progress customprogress">
            					<span class="progress-bar progress-bar-warning" style="width: {{terminate}}%" role="progressbar"></span>
            			    </div>
            			    <span class="progresspercentage">{{terminate}} %</span>
            			</div>
            		</div>
                </div>
            </div>
            <div class="midSection">
                <table cellpadding="3" cellspacing="0" class="midContainer" id="staustable">
                    <tbody>
                        <tr>
                            <td>
                                <label>Start Date and Time :</label><span id="startTime"><b>{{StartTime}}</b></span>
                            </td>
                            <td rowspan="3">
                                <label>Status :</label><span id="overAllStat" style="color:{{getColor overAllStatus}}"><span></span><b>{{overAllStatus}}</b></span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label>End Date and Time :</label><span id="endTime"><b>{{EndTime}}</b></span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label>Elapsed Time :</label><span id="elapsedTime"><b>{{EllapsedTime}}</b></span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            {{/each}}
            <div class="maintabCont">
                <table style="width: 100%;">
                    <thead class="reportsDetails">
                        <th>Sl No.</th>
                        <th>Test Step No.</th>
                        <th>Test Step Description</th>
                        <th>Status</th>
                        <th>Elapsed Time</th>
                        <th>Comments</th>
                    </thead>
                </table>
                <div class="reportsDetail">
                    {{#each rows}}
                    <div style="width: 100%; display: table;" class="reportdetailsrow" data-id={{id}} data-parentid={{parentId}}>
                        <div class="rDid tabCont">{{slno}}</div>
                        <div class="rDstep tabCont">{{Step}}</div>
                        <div class="rDstepDes tabCont" style="padding-left: 10px; font-weight:{{getStyle StepDescription}}">{{StepDescription}}</div>
                        <div class="rDstatus tabCont openscreenshot"  style="color:{{getColor status}}" data-screenshot={{screenshot_path}}>{{status}}</div>
                        <div class="rDellaps tabCont">{{EllapsedTime}}</div>
                        <div class="rDcomments tabCont" style="padding-left: 10px;">{{Comments}}</div>
                    </div>
                    {{/each}}
                </div>
            </div>
        </div>
    </body>
</html>
